* { margin: 0; padding: 0; } 
body {background-color: rgb(193, 255, 197);}
#picSet { top:20px; border: 5px solid red; width: 1440px; height: 540px; position: relative; margin: 0 auto; overflow: hidden; border-radius: 20px;}  
#picSet img {position: absolute; top: 0; left: 0; transition: left 1s;} 
#picSet #pic0 { z-index: 1;}
h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 57, 38);
}
section {
    margin-top: 120px;
}
p {
    text-align: center;
    padding-top: 40px;
}
button {
    background-color: blueviolet;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

button:hover {
    background-color: violet;
    color: rgb(85, 4, 90);
}
/* #picSet #pic0 {left: 0;}
#picSet #pic1 {left: 1440px;}
#picSet #pic2 {left: 2880px;} */
/* #picSet #pic3 {left: calc(1440px * 2);} */